.intro-text {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 4px;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.projects-link {
  padding: 1rem;
}