.project { 
    border: 1px solid var(--button-border-hover);
    border-radius: 0.5rem;
    padding: 1rem; 
    margin-bottom: 1rem;
 }

.project-link {
  color: var(--button-text);
  margin: 1rem;
}

.project-links {
  display: flex;
  justify-content: center;
}