:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-text: #213547;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f0f0f0;
  --color-bg-tertiary: #cccccc;
  --color-link: #343ccf;
  --color-link-hover: #747bff;
  --button-bg: #f9f9f9;
  --button-border-hover: #646cff;
  --button-text: #213547;
}

[data-theme="dark"] {
  --color-text: rgba(255, 255, 255, 0.87);
  --color-bg-primary: #242424;
  --color-bg-secondary: #292929;
  --color-bg-tertiary: #303030;
  --color-link: #949cff;
  --color-link-hover: #535bf2;
  --button-bg: #1a1a1a;
  --button-border-hover: #646cff;
  --button-text: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg-primary);
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--button-bg);
  color: var(--button-text);
  border-color: transparent;
}

button:hover {
  border-color: var(--button-border-hover);
}

