.toggle-switch {
  width: 90px;
  height: 45px;
  background-color: var(--color-bg-tertiary);
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: none;
}

.slider {
  width: 46.7%; /* 28 / 60 */
  height: 93.3%; /* 28 / 30 */
  left: 1.67%;  /* 1 / 60 */
  top: 3.33%;   /* 1 / 30 */
  background-color: var(--button-text);
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-bg);
  transition: left 0.3s ease;
}

.toggle-switch.dark .slider {
  left: 51.7%; /* 31 / 60 */
}

.icon {
  width: 18px;
  height: 18px;
}